

// Config

configuration {
    modi:               "drun,window,run,combi";
    cycle:              true;
    show-icons:         true;
    matching:           "glob";
    lines:              8;
    columns:            1;
    width:              560;
    location:           0;
    padding:            50;
    hide-scrollbar:     true;
    display-combi:		"rofi";
    kb-cancel: "Super+space";
}

@theme "minimal-gruvbox"
